n8n-workflows/02_find_emails.json
{
  "name": "02 — Find Emails (Hunter.io)",
  "nodes": [
    {
      "parameters": {},
      "id": "b1b2c3d4-0002-4000-8000-000000000001",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.GOOGLE_SHEET_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "status",
              "lookupValue": "scraped"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Read Scraped Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XU9BVy1MqW6lCLNl",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Reads all leads from Google Sheets where status = 'scraped'. These are leads from workflow 01 that haven't been processed yet."
    },
    {
      "parameters": {
        "jsCode": "// Extract the domain from a full website URL\n// e.g. https://www.myrestaurant.lv/menu → myrestaurant.lv\n\nconst item = $input.item;\nconst url = item.json.website || '';\n\nlet domain = '';\ntry {\n  const parsed = new URL(url.startsWith('http') ? url : 'https://' + url);\n  domain = parsed.hostname.replace(/^www\\./, '');\n} catch (e) {\n  domain = url.replace(/^https?:\\/\\//, '').replace(/^www\\./, '').split('/')[0];\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    domain: domain\n  }\n}];\n"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000003",
      "name": "Extract Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "notes": "Extracts clean domain from website URL (strips protocol, www, path)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.hunter.io/v2/domain-search?domain={{ $json.domain }}&api_key={{$env.HUNTER_API_KEY}}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000004",
      "name": "Hunter.io Domain Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ],
      "onError": "continueErrorOutput",
      "notes": "Calls Hunter.io Domain Search API to find email addresses for this domain. Returns up to 10 emails with confidence scores."
    },
    {
      "parameters": {
        "jsCode": "// Process Hunter.io response and extract the best email\n// Prefers personal emails over generic ones, sorted by confidence\n// If no email found, pass through with empty email field for fallback\n\nconst item = $input.item;\nconst hunterData = item.json.data || item.json;\nconst emails = hunterData.emails || [];\n\n// Get the original lead data from the previous node\n// Hunter.io response replaces $json, so we need to reconstruct\nconst prevData = {\n  name: item.json._previousNode?.name || $('Extract Domain').item.json.name,\n  website: $('Extract Domain').item.json.website,\n  address: $('Extract Domain').item.json.address,\n  rating: $('Extract Domain').item.json.rating,\n  phone: $('Extract Domain').item.json.phone,\n  domain: $('Extract Domain').item.json.domain\n};\n\nif (emails.length === 0) {\n  // No emails found — will go to fallback\n  return [{\n    json: {\n      ...prevData,\n      email: '',\n      email_source: 'none',\n      email_confidence: 0\n    }\n  }];\n}\n\n// Sort: personal emails first, then by confidence score\nconst sorted = emails.sort((a, b) => {\n  if (a.type === 'personal' && b.type !== 'personal') return -1;\n  if (a.type !== 'personal' && b.type === 'personal') return 1;\n  return (b.confidence || 0) - (a.confidence || 0);\n});\n\nconst best = sorted[0];\n\nreturn [{\n  json: {\n    ...prevData,\n    email: best.value || '',\n    email_type: best.type || 'unknown',\n    email_confidence: best.confidence || 0,\n    email_source: 'hunter'\n  }\n}];\n"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000005",
      "name": "Extract Best Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "notes": "Picks the best email from Hunter.io results. Prioritizes personal over generic, then by confidence score. If none found, passes empty email for fallback."
    },
    {
      "parameters": {
        "jsCode": "// Handle Hunter.io API errors gracefully\n// Log the error and pass through with empty email for fallback\n\nconst prevData = {\n  name: $('Extract Domain').item.json.name,\n  website: $('Extract Domain').item.json.website,\n  address: $('Extract Domain').item.json.address,\n  rating: $('Extract Domain').item.json.rating,\n  phone: $('Extract Domain').item.json.phone,\n  domain: $('Extract Domain').item.json.domain\n};\n\nconsole.log(`Hunter.io API error for ${prevData.domain}:`, JSON.stringify($input.item.json).substring(0, 500));\n\nreturn [{\n  json: {\n    ...prevData,\n    email: '',\n    email_source: 'hunter_error',\n    email_confidence: 0\n  }\n}];\n"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000006",
      "name": "Handle Hunter Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        520
      ],
      "notes": "Handles Hunter.io API failures. Logs the raw error and passes the lead through with empty email so the fallback scraper can try."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000007",
      "name": "Email Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        400
      ],
      "notes": "Routes leads: if Hunter found an email → update sheet. If not → try fallback contact page scraper."
    },
    {
      "parameters": {
        "jsCode": "// Multi-path fallback: try homepage + common Latvian contact pages to find email\n// Tries each URL in order, stops at first email found\n\nconst https = require('https');\nconst http = require('http');\n\nconst prevData = {\n  name: $input.item.json.name,\n  website: $input.item.json.website,\n  address: $input.item.json.address,\n  rating: $input.item.json.rating,\n  phone: $input.item.json.phone,\n  domain: $input.item.json.domain\n};\n\nconst baseUrl = (prevData.website || '').replace(/\\/$/, '');\nconst domain = prevData.domain || '';\n\n// Pages to try, in priority order (homepage first — footer usually has email)\nconst paths = ['', '/kontakti', '/lv/kontakti', '/kontakts', '/contact', '/contacts', '/par-mums'];\n\nconst emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\n\nfunction fetchPage(url) {\n  return new Promise((resolve) => {\n    const mod = url.startsWith('https') ? https : http;\n    const req = mod.get(url, { timeout: 8000, headers: { 'User-Agent': 'Mozilla/5.0' }, rejectUnauthorized: false }, (res) => {\n      if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n        const redir = res.headers.location.startsWith('http') ? res.headers.location : baseUrl + res.headers.location;\n        res.resume();\n        return fetchPage(redir).then(resolve);\n      }\n      let data = '';\n      res.on('data', (c) => data += c);\n      res.on('end', () => resolve(res.statusCode === 200 ? data : ''));\n    });\n    req.on('error', () => resolve(''));\n    req.on('timeout', () => { req.destroy(); resolve(''); });\n  });\n}\n\nfunction extractEmails(html) {\n  const matches = html.match(emailRegex) || [];\n  return [...new Set(matches)].filter(e =>\n    !e.includes('example.com') &&\n    !e.includes('sentry.io') &&\n    !e.includes('wixpress') &&\n    !e.includes('schema.org') &&\n    !e.includes('.png') &&\n    !e.includes('.jpg') &&\n    !e.includes('.svg') &&\n    !e.includes('@2x') &&\n    !e.includes('webpack')\n  );\n}\n\nfor (const p of paths) {\n  const url = baseUrl + p;\n  const html = await fetchPage(url);\n  if (!html) continue;\n\n  const emails = extractEmails(html);\n  if (emails.length === 0) continue;\n\n  // Prefer emails matching the site's own domain\n  const domainEmails = emails.filter(e => e.endsWith('@' + domain) || e.includes(domain.split('.')[0]));\n  const bestEmail = domainEmails.length > 0 ? domainEmails[0] : emails[0];\n\n  return [{\n    json: {\n      ...prevData,\n      email: bestEmail,\n      email_source: 'scrape_' + (p || 'homepage').replace('/', ''),\n      email_confidence: domainEmails.length > 0 ? 60 : 40,\n      status: 'email_found'\n    }\n  }];\n}\n\n// No email found on any page\nreturn [{\n  json: {\n    ...prevData,\n    email: '',\n    email_source: 'none',\n    email_confidence: 0,\n    status: 'no_email'\n  }\n}];\n"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000008",
      "name": "Scrape Contact Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        520
      ],
      "notes": "Multi-path fallback: tries homepage + 6 common Latvian contact page paths. Extracts emails via regex, prefers domain-matching emails. Stops at first hit."
    },
    {
      "parameters": {
        "jsCode": "// Prepare lead data for sheet update — email was found via Hunter.io\nconst item = $input.item;\nreturn [{\n  json: {\n    ...item.json,\n    status: 'email_found'\n  }\n}];\n"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000011",
      "name": "Mark as Email Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ],
      "notes": "Sets status to email_found for leads where Hunter.io returned an email"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.GOOGLE_SHEET_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "status": "={{ $json.status }}",
            "email_source": "={{ $json.email_source }}",
            "email_confidence": "={{ $json.email_confidence }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "email_source",
              "displayName": "email_source",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "email_confidence",
              "displayName": "email_confidence",
              "required": false,
              "defaultMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000012",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2160,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XU9BVy1MqW6lCLNl",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Updates each lead row in the Google Sheet with: email, status (email_found or no_email), email_source, email_confidence. Matches by restaurant name."
    },
    {
      "parameters": {
        "jsCode": "// Summary: count how many emails were found vs not found\nconst items = $input.all();\nconst found = items.filter(i => i.json.status === 'email_found').length;\nconst notFound = items.filter(i => i.json.status === 'no_email').length;\n\nreturn [{\n  json: {\n    message: `✅ Email search complete. ${found} emails found, ${notFound} leads with no email.`,\n    emailsFound: found,\n    noEmail: notFound,\n    total: items.length\n  }\n}];\n"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000013",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        400
      ],
      "notes": "Final summary: how many emails found vs not found"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Read Scraped Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Scraped Leads": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Domain": {
      "main": [
        [
          {
            "node": "Hunter.io Domain Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io Domain Search": {
      "main": [
        [
          {
            "node": "Extract Best Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Hunter Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Best Email": {
      "main": [
        [
          {
            "node": "Email Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Hunter Error": {
      "main": [
        [
          {
            "node": "Email Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Found?": {
      "main": [
        [
          {
            "node": "Mark as Email Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Contact Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Email Found": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Contact Pages": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "cold-email-pipeline",
      "id": "tag-cold-email"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-28T01:23:00.000Z",
  "versionId": "1",
  "id": "workflow-id-2"
}