n8n-workflows/03_analyze_website.json
{
  "name": "03 — Analyze Website (OpenAI Vision)",
  "nodes": [
    {
      "parameters": {},
      "id": "c1c2c3d4-0003-4000-8000-000000000001",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.GOOGLE_SHEET_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "status",
              "lookupValue": "email_found"
            }
          ]
        },
        "options": {}
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000002",
      "name": "Read Leads (email_found)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XU9BVy1MqW6lCLNl",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.website }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 3
            }
          }
        }
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000003",
      "name": "Check Website Alive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-alive",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000004",
      "name": "Alive?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Read Leads (email_found)').item.json;\nreturn [{\n  json: {\n    ...lead,\n    status: 'dead_site',\n    specific_problem: ''\n  }\n}];"
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000005",
      "name": "Handle Dead Site",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.screenshotone.com/take?access_key={{$env.SCREENSHOTONE_API_KEY}}&url={{encodeURIComponent($('Read Leads (email_found)').item.json.website)}}&viewport_width=1280&viewport_height=900&format=png&full_page=false&block_ads=true&response_type=base64",
        "options": {
          "timeout": 45000
        }
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000006",
      "name": "Take Screenshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        260
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-screenshot-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000007",
      "name": "Screenshot Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Read Leads (email_found)').item.json;\nconsole.error(\"Screenshot error for \" + lead.website, $input.item.json);\nreturn [{\n  json: {\n    ...lead,\n    status: 'screenshot_failed',\n    specific_problem: ''\n  }\n}];"
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000008",
      "name": "Handle Screenshot Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\n// 1. Get Base64 image\nconst base64Image = typeof $input.item.json === 'string' ? $input.item.json : ($input.item.json.data || $input.item.json.body || $input.item.json.base64);\n\n// 2. Load prompt\nconst workspaceDir = process.cwd();\nconst promptPath = path.join(workspaceDir, 'prompts', 'website_analysis.txt');\nconst prompt = fs.readFileSync(promptPath, 'utf8');\n\n// 3. Build body\nconst body = {\n    model: \"gpt-4o-mini\",\n    messages: [\n        {\n            role: \"user\",\n            content: [\n                { type: \"text\", text: prompt },\n                { type: \"image_url\", image_url: { url: \"data:image/png;base64,\" + base64Image } }\n            ]\n        }\n    ],\n    temperature: 0.4,\n    max_tokens: 2048\n};\n\nreturn [{ json: body }];"
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000009",
      "name": "Build OpenAI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000,
          "bodyContentType": "json"
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            }
          ]
        }
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000010",
      "name": "OpenAI Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        180
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-openai-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000011",
      "name": "OpenAI Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1860,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Read Leads (email_found)').item.json;\nconsole.error(\"OpenAI Vision error for \" + lead.website, $input.item.json);\nreturn [{\n  json: {\n    ...lead,\n    status: 'analysis_failed',\n    specific_problem: ''\n  }\n}];"
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000012",
      "name": "Handle OpenAI Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Read Leads (email_found)').item.json;\nconst result = $input.item.json;\nlet analysis = '';\n\ntry {\n  analysis = result.choices[0].message.content.trim();\n} catch (e) {\n  return [{\n    json: {\n      ...lead,\n      status: 'analysis_failed',\n      specific_problem: ''\n    }\n  }];\n}\n\n// If the vision model returned SKIP, the site already has a real booking system — discard lead\nif (analysis.toUpperCase() === 'SKIP') {\n  return [{\n    json: {\n      ...lead,\n      status: 'no_problem_found',\n      specific_problem: ''\n    }\n  }];\n}\n\nif (!analysis || analysis.toLowerCase().includes('no problem')) {\n  analysis = 'mājaslapā nav tiešsaistes pieraksta pogas — klienti nevar rezervēt vizīti bez zvana';\n}\n\nreturn [{\n  json: {\n    ...lead,\n    status: 'analyzed',\n    specific_problem: analysis\n  }\n}];"
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000013",
      "name": "Extract Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$env.GOOGLE_SHEET_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.status }}",
            "specific_problem": "={{ $json.specific_problem }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false
            },
            {
              "id": "specific_problem",
              "displayName": "specific_problem",
              "required": false,
              "defaultMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000014",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2400,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XU9BVy1MqW6lCLNl",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet analyzed = 0, dead = 0, screenshot_fail = 0, analysis_fail = 0, skipped = 0;\n\nfor (const item of items) {\n  const status = item.json.status;\n  if (status === 'analyzed') analyzed++;\n  else if (status === 'no_problem_found') skipped++;\n  else if (status === 'dead_site') dead++;\n  else if (status === 'screenshot_failed') screenshot_fail++;\n  else if (status === 'analysis_failed') analysis_fail++;\n}\n\nreturn [{\n  json: {\n    message: '✅ Website Analysis complete.',\n    analyzed,\n    skipped_has_booking: skipped,\n    dead_sites: dead,\n    screenshot_failures: screenshot_fail,\n    analysis_failures: analysis_fail,\n    total: items.length\n  }\n}];"
      },
      "id": "c1c2c3d4-0003-4000-8000-000000000015",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        240
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Read Leads (email_found)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads (email_found)": {
      "main": [
        [
          {
            "node": "Check Website Alive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website Alive": {
      "main": [
        [
          {
            "node": "Alive?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alive?": {
      "main": [
        [
          {
            "node": "Take Screenshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Dead Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Dead Site": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Screenshot": {
      "main": [
        [
          {
            "node": "Screenshot Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Screenshot Success?": {
      "main": [
        [
          {
            "node": "Build OpenAI Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Screenshot Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Screenshot Error": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Request": {
      "main": [
        [
          {
            "node": "OpenAI Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Vision": {
      "main": [
        [
          {
            "node": "OpenAI Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Success?": {
      "main": [
        [
          {
            "node": "Extract Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle OpenAI Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle OpenAI Error": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Result": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "cold-email-pipeline",
      "id": "tag-cold-email"
    }
  ],
  "versionId": "c616fc01-2e65-42f5-b69a-abcd12345678",
  "id": "workflow-id-3"
}