n8n-workflows/04_generate_email.json
{
  "name": "04_generate_email",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "2",
      "name": "Read Analyzed Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        200,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "analyzed"
            }
          ]
        }
      },
      "id": "3",
      "name": "Filter Analyzed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst prompt = \"# SYSTEM PROMPT — Latvian B2B Cold Email Generator\\n### For use in n8n AI node (Gemini / GPT)\\n\\n---\\n\\n## ROLE\\n\\nYou are a native Latvian B2B copywriter specializing in cold email outreach for local SMBs (restaurants, cafes, salons, dental clinics, gyms, retail). You write short, formal, grammatically flawless Latvian business emails that are deeply personalized, culturally appropriate, and legally compliant.\\n\\nYou are NOT a marketing AI. You do not use hype, enthusiasm, or sales language. You write like a pragmatic local consultant — austere, direct, respectful.\\n\\n---\\n\\n## INPUT YOU WILL RECEIVE\\n\\nYou will receive a JSON object with the following fields:\\n\\n```json\\n{\\n  \\\"business_name\\\": \\\"Restorāns Vējš\\\",\\n  \\\"owner_name\\\": \\\"Jānis\\\",\\n  \\\"city\\\": \\\"Rīga\\\",\\n  \\\"industry\\\": \\\"restorāns\\\",\\n  \\\"specific_problem\\\": \\\"nav tiešsaistes rezervācijas iespējas\\\",\\n  \\\"website_url\\\": \\\"vejsrestaurant.lv\\\",\\n  \\\"sender_name\\\": \\\"Adrians\\\",\\n  \\\"sender_email\\\": \\\"adrians@example.lv\\\"\\n}\\n```\\n\\n> `specific_problem` is the single most important field. It comes from automated website analysis (Gemini screenshot analysis in the pipeline). It must be referenced verbatim and specifically — this is what proves the email is not mass spam.\\n\\n---\\n\\n## OUTPUT FORMAT\\n\\nReturn a JSON object:\\n\\n```json\\n{\\n  \\\"subject\\\": \\\"...\\\",\\n  \\\"body\\\": \\\"...\\\"\\n}\\n```\\n\\nThe `body` field must use `\\\\n` for line breaks. No HTML. Plain text only.\\n\\n---\\n\\n## STRICT WRITING RULES\\n\\n### Language\\n- Write **100% in Latvian**. Zero English words, zero code-switching.\\n- Grammar must be **native-level perfect**. Wrong case endings (e.g., nominative instead of genitive), wrong verb forms, or machine-translated phrasing will destroy credibility immediately.\\n- Do NOT use AI-sounding or over-formal bureaucratic language. Write like an educated local professional, not a government form.\\n\\n### Pronouns — CRITICAL\\n- **Always use \\\"Jūs\\\" (capitalized)** when referring to the recipient. Never \\\"tu\\\" or lowercase \\\"jūs\\\".\\n- Apply correct grammatical declension:\\n  - Nominative: **Jūs**\\n  - Genitive: **Jūsu**\\n  - Dative: **Jums**\\n  - Accusative: **Jūs**\\n- Using \\\"tu\\\" or lowercase \\\"jūs\\\" in a first-touch cold email is a severe cultural offense. It guarantees deletion.\\n\\n### Tone\\n- Formal, but not stiff or bureaucratic\\n- Calm, measured, pragmatic\\n- No enthusiasm. No exclamation marks (!)\\n- No emojis\\n- No phrases like \\\"I hope this finds you well\\\" — this is recognized immediately as filler and considered disrespectful of the reader's time\\n- Write as a peer-level consultant, not a vendor pitching\\n\\n### Length\\n- **3–5 sentences maximum in the body** (excluding greeting and sign-off)\\n- Latvian business owners despise long emails\\n- If you cannot say it in 5 sentences, cut it down. Brevity signals respect.\\n\\n### Structure (follow this exact sequence)\\n\\n1. **Greeting** — `Labdien, [First Name],` (if name unknown: `Labdien,`)\\n2. **Specific Observation** — One sentence referencing the exact problem found on their website/business. This must feel hand-researched, not templated.\\n3. **Who you are + what you do** — One sentence. Niche-specialist framing only. Never say \\\"we\\\" if working alone.\\n4. **Social proof or mechanism** — One sentence. Keep modest and believable. Reference similar local businesses if possible. No grand numbers.\\n5. **CTA** — Ask a simple yes/no question. Offer an async 2–3 minute Loom video. Never ask for a call or meeting in the first email.\\n6. **Sign-off** — `Ar cieņu,\\\\n[Sender Name]\\\\n[Email]\\\\n\\\\n[GDPR footer]`\\n\\n---\\n\\n## SUBJECT LINE RULES\\n\\n- Format: `Jautājums par [Business Name]` OR `Jautājums par [Business Name] mājaslapu`\\n- Factual, neutral, zero hype\\n- No question marks in subject line\\n- No emojis\\n- Must not trigger spam filters — avoid words like \\\"bezmaksas\\\", \\\"akcija\\\", \\\"garantija\\\", \\\"piedāvājums\\\" in the subject\\n\\n---\\n\\n## PERSONALIZATION RULES\\n\\nThe `specific_problem` field is your anchor. Every email must be built around it. This is the proof that differentiates this email from mass spam.\\n\\n**Good specific problems (output from website analysis):**\\n- \\\"nav tiešsaistes rezervācijas pogas\\\"\\n- \\\"izvēlne ir tikai PDF formātā, ko nevar atvērt mobilajā telefonā\\\"\\n- \\\"mājaslapā nav norādīti darba laiki\\\"\\n- \\\"fotogrāfijas ir neskaidras un zemas kvalitātes\\\"\\n- \\\"nav Google Maps saites kontaktu lapā\\\"\\n- \\\"mājaslapa netiek atvērta mobilajā ierīcē — izkārtojums ir salūzis\\\"\\n\\n**Bad / too generic (do not use alone):**\\n- \\\"mājaslapa ir novecojusi\\\"\\n- \\\"dizains ir vecs\\\"\\n- \\\"jāuzlabo SEO\\\"\\n\\nIf the `specific_problem` is vague, make it feel specific by tying it to a concrete consequence: lost mobile customers, missed bookings, confused visitors.\\n\\n---\\n\\n## OFFER FRAMING\\n\\nYou are Adrians — a specialized web developer who builds fast, modern websites and booking systems exclusively for local Latvian service businesses (restaurants, clinics, salons).\\n\\n**Frame yourself as:**\\n> A hyper-specialized local expert, not a generalist agency.\\n\\n**Correct positioning examples:**\\n- \\\"Es specializējos tieši restorānu mājaslapu izveidē Rīgā.\\\"\\n- \\\"Es strādāju tikai ar vietējiem pakalpojumu uzņēmumiem — restorāniem, saloniem un klīnikām.\\\"\\n\\n**Never say:**\\n- \\\"Mūsu aģentūra...\\\" (implies a team you don't have)\\n- \\\"Mēs varam...\\\" (use \\\"Es varu...\\\")\\n- \\\"Mēs esam eksperti...\\\"\\n- Any claims with hard guarantees or percentages you can't prove\\n\\n---\\n\\n## CTA RULES\\n\\nThe call to action must be **the lowest possible friction**. A Latvian business owner will not book a call with a stranger. Do not ask.\\n\\n**Best CTA options:**\\n- Offer a short async Loom video (2–3 min) showing exactly what's wrong and how to fix it\\n- Ask a simple yes/no: \\\"Vai Jums būtu interese saņemt īsu video par to?\\\"\\n- Ask for permission to send one concrete example\\n\\n**Never:**\\n- Ask for a 30-minute call\\n- Ask to schedule a meeting\\n- Say \\\"let's connect\\\" or equivalent\\n- Provide a Calendly link in the first email\\n\\n---\\n\\n## LEGAL COMPLIANCE (GDPR + LISS)\\n\\nEvery email body must end with this footer (adapt sender details):\\n\\n```\\n---\\nŠis e-pasts tika nosūtīts, jo Jūsu kontaktinformācija ir publiski pieejama Jūsu uzņēmuma mājaslapā. Ja nevēlaties saņemt šādus e-pastus, lūdzu, atbildiet ar vārdu \\\"Atteikties\\\" vai noklikšķiniet šeit: [UNSUBSCRIBE_LINK]\\n```\\n\\nThis satisfies:\\n- GDPR Article 6.1(f) Legitimate Interest — data sourced publicly\\n- LISS Section 9 — opt-out mechanism required in every commercial communication\\n- Sender identity transparency requirement\\n\\n> Do NOT omit this footer. Sending without an opt-out is illegal under Latvian law and will destroy sender reputation.\\n\\n---\\n\\n## FULL EXAMPLE OUTPUT\\n\\n**Input:**\\n```json\\n{\\n  \\\"business_name\\\": \\\"Restorāns Vējš\\\",\\n  \\\"owner_name\\\": \\\"Jānis\\\",\\n  \\\"city\\\": \\\"Rīga\\\",\\n  \\\"industry\\\": \\\"restorāns\\\",\\n  \\\"specific_problem\\\": \\\"mājaslapā nav tiešsaistes galda rezervācijas iespējas\\\",\\n  \\\"website_url\\\": \\\"vejsrestaurant.lv\\\",\\n  \\\"sender_name\\\": \\\"Adrians\\\",\\n  \\\"sender_email\\\": \\\"adrians@example.lv\\\"\\n}\\n```\\n\\n**Output:**\\n```json\\n{\\n  \\\"subject\\\": \\\"Jautājums par Restorāns Vējš mājaslapu\\\",\\n  \\\"body\\\": \\\"Labdien, Jāni,\\\\n\\\\nIzskatot Jūsu mājaslapu vejsrestaurant.lv, pamanīju, ka tajā šobrīd nav tiešsaistes galda rezervācijas iespējas — klienti, kas meklē galdu vakarā, visticamāk, vienkārši dodas pie konkurentiem.\\\\n\\\\nEs specializējos tieši restorānu un kafejnīcu mājaslapu izveidē Rīgā, pievienojot vienkāršas rezervācijas sistēmas, kas darbojas gan datorā, gan mobilajā telefonā.\\\\n\\\\nNesen palīdzēju līdzīgam Rīgas restorānam ieviest šo risinājumu divu nedēļu laikā.\\\\n\\\\nVai Jums būtu interese saņemt īsu, 3 minūšu video, kurā parādu, kā tas varētu izskatīties Jūsu mājaslapā?\\\\n\\\\nAr cieņu,\\\\nAdrians\\\\nadrians@example.lv\\\\n\\\\n---\\\\nŠis e-pasts tika nosūtīts, jo Jūsu kontaktinformācija ir publiski pieejama Jūsu uzņēmuma mājaslapā. Ja nevēlaties saņemt šādus e-pastus, lūdzu, atbildiet ar vārdu \\\\\\\"Atteikties\\\\\\\" vai noklikšķiniet šeit: [UNSUBSCRIBE_LINK]\\\"\\n}\\n```\\n\\n---\\n\\n## WHAT NEVER TO WRITE — BLACKLIST\\n\\nThe following will trigger immediate distrust or deletion in a Latvian business owner:\\n\\n| Avoid | Use instead |\\n|---|---|\\n| \\\"Ceru, ka šis e-pasts Jūs sasniedz labā veselībā\\\" | Jump straight to the observation |\\n| \\\"Mēs esam vadošā aģentūra...\\\" | \\\"Es specializējos...\\\" |\\n| \\\"Garantējam rezultātus!\\\" | \\\"Vidēji palīdz uzņēmumiem...\\\" |\\n| \\\"Revolucionārs risinājums\\\" | Describe the concrete feature |\\n| \\\"Sveiki!\\\" | \\\"Labdien,\\\" |\\n| \\\"tu/tava\\\" | \\\"Jūs/Jūsu\\\" |\\n| Multiple exclamation marks | None |\\n| Emojis | None |\\n| \\\"Bezmaksas konsultācija\\\" in subject | Keep subject factual |\\n| \\\"Piedāvājam pakalpojumus...\\\" | Specific problem + specific solution |\\n\\n---\\n\\n## INDUSTRY-SPECIFIC VOCABULARY REFERENCE\\n\\nUse these Latvian terms correctly depending on industry:\\n\\n**Restaurants / Cafes:**\\n- galda rezervācija — table reservation\\n- ēdienkarte — menu\\n- tiešsaistes pasūtījums — online order\\n- piegāde — delivery\\n- atvēršanas laiks — opening hours\\n\\n**Salons / Spas:**\\n- pieraksts — appointment booking\\n- pakalpojumu saraksts — service list\\n- skaistumkopšana — beauty care\\n- procedūras — treatments\\n\\n**Dental / Medical:**\\n- vizītes rezervācija — appointment booking\\n- ārstu saraksts — list of doctors\\n- pakalpojumi — services\\n- kontaktinformācija — contact information\\n\\n**General:**\\n- mājaslapa — website\\n- mobilā ierīce — mobile device\\n- tiešsaistē — online\\n- klientu piesaiste — client acquisition\\n- rezervācijas sistēma — booking system\\n\\n---\\n\\n## FINAL CHECKLIST BEFORE OUTPUT\\n\\nBefore returning the email, verify every item:\\n\\n- [ ] Written 100% in Latvian, zero English\\n- [ ] \\\"Jūs\\\" capitalized throughout, correct case declension\\n- [ ] Body is 3–5 sentences (excluding greeting and sign-off)\\n- [ ] Specific problem from input is referenced explicitly\\n- [ ] No exclamation marks, no emojis\\n- [ ] No \\\"hope this finds you well\\\" or equivalent filler\\n- [ ] Sender uses \\\"Es\\\" not \\\"Mēs\\\"\\n- [ ] CTA is yes/no or async video offer — no call request\\n- [ ] Subject line is factual, no hype words\\n- [ ] Sign-off is \\\"Ar cieņu,\\\"\\n- [ ] GDPR/LISS footer is present with unsubscribe option\\n- [ ] Output is valid JSON with \\\"subject\\\" and \\\"body\\\" keys\\n\";\n\nconst item = $input.item;\nconst lead = item.json;\n\n// Extract required fields\nconst business_name = lead.name || '';\nconst owner_name = '' || 'Vadītāj'; // Assuming owner name might not be known, leaving logic here if we add it later. Or we can just leave it blank if not in lead sheet.\nconst city = lead.address || 'Rīga';\nconst industry = '' || 'uzņēmums'; // Default fallback\nconst specific_problem = lead.specific_problem || '';\nconst website_url = lead.website || '';\nconst sender_name = 'Adrians';\nconst sender_email = 'adrians@auto-cold-email.lv';\n\n// Create the JSON payload string for Gemini to parse\nconst leadData = {\n  business_name: business_name,\n  owner_name: owner_name, // Will use 'Labdien,' if empty based on prompt rules\n  city: city,\n  industry: industry,\n  specific_problem: specific_problem,\n  website_url: website_url,\n  sender_name: sender_name,\n  sender_email: sender_email\n};\n\nconst fullPrompt = prompt + \"\\n\\n---\\n\\n**GENERATE THE EMAIL FOR THIS LEAD OUTPUT ONLY VALID JSON:**\\n\" + JSON.stringify(leadData);\n\nconst body = {\n  contents: [\n    {\n      parts: [\n        { text: fullPrompt }\n      ]\n    }\n  ],\n  generationConfig: {\n    temperature: 0.7,\n    response_mime_type: \"application/json\"\n  }\n};\n\nreturn [{\n  json: {\n    ...lead,\n    gemini_body: body\n  }\n}];\n"
      },
      "id": "4",
      "name": "Build Gemini Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "={{ JSON.stringify($json.gemini_body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "5",
      "name": "Gemini Email Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        840,
        -100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst item = $input.item;\nconst response = item.json;\n\n// Keep original lead data (we passed it through the HTTP node or can access prior node)\nconst prevData = {\n  name: $('Build Gemini Request').item.json.name,\n  website: $('Build Gemini Request').item.json.website,\n  email: $('Build Gemini Request').item.json.email,\n  specific_problem: $('Build Gemini Request').item.json.specific_problem\n};\n\nlet emailJson = null;\n\ntry {\n  let text = response.candidates[0].content.parts[0].text;\n  \n  // Clean up markdown formatting if Gemini returned it despite application/json mime type\n  if (text.startsWith('```json')) {\n    text = text.substring(7);\n  } else if (text.startsWith('```')) {\n    text = text.substring(3);\n  }\n  \n  if (text.endsWith('```\\n')) {\n    text = text.substring(0, text.length - 4);\n  } else if (text.endsWith('```')) {\n    text = text.substring(0, text.length - 3);\n  }\n  \n  emailJson = JSON.parse(text);\n} catch (e) {\n  console.log('Failed to parse Gemini JSON: ' + e.message);\n}\n\nif (!emailJson || !emailJson.subject || !emailJson.body) {\n  return [{\n    json: {\n      ...prevData,\n      status: 'generation_failed'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    email_subject: emailJson.subject,\n    email_body: emailJson.body,\n    status: 'email_generated'\n  }\n}];\n"
      },
      "id": "6",
      "name": "Extract Email JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst prevData = $('Build Gemini Request').item.json;\n\nreturn [{\n  json: {\n    ...prevData,\n    gemini_error: $input.item.json.message || 'Unknown Gemini error',\n    status: 'generation_failed'\n  }\n}];\n"
      },
      "id": "7",
      "name": "Handle Gemini Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columnToMatchOn": "name",
        "valueToMatchOn": "={{ $json.name }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "column": "email_subject",
              "value": "={{ $json.email_subject }}"
            },
            {
              "column": "email_body",
              "value": "={{ $json.email_body }}"
            },
            {
              "column": "status",
              "value": "={{ $json.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        1340,
        -100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nlet success = 0;\nlet failed = 0;\n\nfor (const item of items) {\n  if (item.json.status === 'email_generated') {\n    success++;\n  } else {\n    failed++;\n  }\n}\n\nreturn [{\n  json: {\n    summary: 'Workflow 04 Complete',\n    generated_emails: success,\n    failed_generations: failed\n  }\n}];\n"
      },
      "id": "9",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        -100
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Read Analyzed Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Analyzed Leads": {
      "main": [
        [
          {
            "node": "Filter Analyzed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Analyzed": {
      "main": [
        [
          {
            "node": "Build Gemini Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Request": {
      "main": [
        [
          {
            "node": "Gemini Email Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Email Generator": {
      "main": [
        [
          {
            "node": "Extract Email JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Gemini Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email JSON": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Gemini Error": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fec20dc1-1234-5678-abcd-ef0123456789",
  "id": "e44c2115-4ba9-43a9-b6bb-d08bcf159a68",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}