n8n-workflows/04_generate_email.json
{
  "name": "04_generate_email",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "id": "2",
      "name": "Read Analyzed Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        200,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XU9BVy1MqW6lCLNl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "analyzed"
            }
          ]
        }
      },
      "id": "3",
      "name": "Filter Analyzed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\n// Load prompt from file — same pattern as workflow 03\nconst workspaceDir = process.cwd();\nconst promptPath = path.join(workspaceDir, 'prompts', 'email_generation.txt');\nconst prompt = fs.readFileSync(promptPath, 'utf8');\n\nconst item = $input.item;\nconst lead = item.json;\n\n// Extract required fields\nconst business_name = lead.name || '';\nconst owner_name = '' || 'Vadītāj';\nconst city = lead.address || 'Rīga';\nconst industry = '' || 'uzņēmums';\nconst specific_problem = lead.specific_problem || '';\nconst website_url = lead.website || '';\nconst sender_name = 'Adrians';\nconst sender_email = 'adrians@auto-cold-email.lv';\n\nconst leadData = {\n  business_name: business_name,\n  owner_name: owner_name,\n  city: city,\n  industry: industry,\n  specific_problem: specific_problem,\n  website_url: website_url,\n  sender_name: sender_name,\n  sender_email: sender_email\n};\n\nconst fullPrompt = prompt + \"\\n\\n---\\n\\n**GENERATE THE EMAIL FOR THIS LEAD OUTPUT ONLY VALID JSON:**\\n\" + JSON.stringify(leadData);\n\nconst body = {\n  model: \"gpt-4o-mini\",\n  messages: [{ role: \"user\", content: fullPrompt }],\n  response_format: { type: \"json_object\" },\n  temperature: 0.7,\n  max_tokens: 4096\n};\n\nreturn [{\n  json: {\n    ...lead,\n    openai_body: body\n  }\n}];\n"
      },
      "id": "4",
      "name": "Build OpenAI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendBody": true,
        "contentType": "raw",
        "rawBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            }
          ]
        }
      },
      "id": "5",
      "name": "OpenAI Email Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        840,
        -100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst item = $input.item;\nconst response = item.json;\n\n// Keep original lead data (we passed it through the HTTP node or can access prior node)\nconst prevData = {\n  name: $('Build OpenAI Request').item.json.name,\n  website: $('Build OpenAI Request').item.json.website,\n  email: $('Build OpenAI Request').item.json.email,\n  specific_problem: $('Build OpenAI Request').item.json.specific_problem\n};\n\nlet emailJson = null;\n\ntry {\n  let text = response.choices[0].message.content;\n  \n  // Clean up markdown formatting if OpenAI returned it despite application/json mime type\n  if (text.startsWith('```json')) {\n    text = text.substring(7);\n  } else if (text.startsWith('```')) {\n    text = text.substring(3);\n  }\n  \n  if (text.endsWith('```\\n')) {\n    text = text.substring(0, text.length - 4);\n  } else if (text.endsWith('```')) {\n    text = text.substring(0, text.length - 3);\n  }\n  \n  emailJson = JSON.parse(text);\n} catch (e) {\n  console.log('Failed to parse OpenAI JSON: ' + e.message);\n}\n\nif (!emailJson || !emailJson.subject || !emailJson.body) {\n  return [{\n    json: {\n      ...prevData,\n      status: 'generation_failed'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    email_subject: emailJson.subject,\n    email_body: emailJson.body,\n    status: 'email_generated'\n  }\n}];\n"
      },
      "id": "6",
      "name": "Extract Email JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst prevData = $('Build OpenAI Request').item.json;\n\nreturn [{\n  json: {\n    ...prevData,\n    openai_error: $input.item.json.message || 'Unknown OpenAI error',\n    status: 'generation_failed'\n  }\n}];\n"
      },
      "id": "7",
      "name": "Handle OpenAI Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columnToMatchOn": "name",
        "valueToMatchOn": "={{ $json.name }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "column": "email_subject",
              "value": "={{ $json.email_subject }}"
            },
            {
              "column": "email_body",
              "value": "={{ $json.email_body }}"
            },
            {
              "column": "status",
              "value": "={{ $json.status }}"
            },
            {
              "column": "approved",
              "value": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "8",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        1340,
        -100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XU9BVy1MqW6lCLNl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nlet success = 0;\nlet failed = 0;\n\nfor (const item of items) {\n  if (item.json.status === 'email_generated') {\n    success++;\n  } else {\n    failed++;\n  }\n}\n\nreturn [{\n  json: {\n    summary: 'Workflow 04 Complete',\n    generated_emails: success,\n    failed_generations: failed\n  }\n}];\n"
      },
      "id": "9",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        -100
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Read Analyzed Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Analyzed Leads": {
      "main": [
        [
          {
            "node": "Filter Analyzed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Analyzed": {
      "main": [
        [
          {
            "node": "Build OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Request": {
      "main": [
        [
          {
            "node": "OpenAI Email Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Email Generator": {
      "main": [
        [
          {
            "node": "Extract Email JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle OpenAI Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email JSON": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle OpenAI Error": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fec20dc1-1234-5678-abcd-ef0123456789",
  "id": "e44c2115-4ba9-43a9-b6bb-d08bcf159a68",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}