n8n-workflows/05_send_and_log.json
{
    "name": "05 — Send and Log (Approval Gate)",
    "nodes": [
        {
            "parameters": {},
            "id": "start-05",
            "name": "Start / Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": {
                    "__rl": true,
                    "value": "={{$env.GOOGLE_SHEET_ID}}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Leads",
                    "mode": "name"
                },
                "filters": {
                    "conditions": [
                        {
                            "lookupColumn": "status",
                            "lookupValue": "email_generated"
                        }
                    ]
                },
                "options": {}
            },
            "id": "read-leads",
            "name": "Read Leads (email_generated)",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                200,
                0
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "XU9BVy1MqW6lCLNl",
                    "name": "Google Sheets OAuth2"
                }
            },
            "notes": "Wait node / check: Pulls leads that have an email generated to see if they are approved."
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.approved }}",
                            "value2": "yes"
                        }
                    ]
                }
            },
            "id": "check-approved",
            "name": "Approved == yes?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                400,
                0
            ],
            "notes": "The send node should only trigger if approved equals yes. All other values skip the lead and log it as skipped."
        },
        {
            "parameters": {
                "sendTo": "={{ $json.email }}",
                "subject": "={{ $json.email_subject }}",
                "message": "={{ $json.email_body }}",
                "emailType": "text",
                "options": {}
            },
            "id": "send-email",
            "name": "Send via Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                640,
                -100
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
                    "name": "Gmail OAuth2"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "={{$env.GOOGLE_SHEET_ID}}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Leads",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "status": "sent"
                    },
                    "matchingColumns": [
                        "name"
                    ],
                    "schema": [
                        {
                            "id": "name",
                            "displayName": "name",
                            "required": true,
                            "defaultMatch": true
                        },
                        {
                            "id": "status",
                            "displayName": "status",
                            "required": false,
                            "defaultMatch": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "log-sent",
            "name": "Mark as Sent",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                860,
                -100
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "XU9BVy1MqW6lCLNl",
                    "name": "Google Sheets OAuth2"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "={{$env.GOOGLE_SHEET_ID}}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Leads",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "status": "skipped"
                    },
                    "matchingColumns": [
                        "name"
                    ],
                    "schema": [
                        {
                            "id": "name",
                            "displayName": "name",
                            "required": true,
                            "defaultMatch": true
                        },
                        {
                            "id": "status",
                            "displayName": "status",
                            "required": false,
                            "defaultMatch": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "log-skipped",
            "name": "Mark as Skipped",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                640,
                100
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "XU9BVy1MqW6lCLNl",
                    "name": "Google Sheets OAuth2"
                }
            }
        }
    ],
    "connections": {
        "Start / Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Read Leads (email_generated)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Leads (email_generated)": {
            "main": [
                [
                    {
                        "node": "Approved == yes?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Approved == yes?": {
            "main": [
                [
                    {
                        "node": "Send via Gmail",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mark as Skipped",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send via Gmail": {
            "main": [
                [
                    {
                        "node": "Mark as Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {}
}